* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {    
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: 16px;    
    line-height: 1;    
}
h2{
    padding-left: 20px;
}
p{
    font-family: 'lato', sans-serif;
    padding-left: 20px;
}
.pokedex{    
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    background-color: rgb(197, 60, 60);
    border-radius: 20px;
    margin: 30px auto;    
    border-bottom: rgb(151, 43, 70);
    border-bottom-width: 10px;
    border-bottom-style: solid;  
    
}
.pokedex h1{
    margin: auto;
    padding: 10px;
    text-align: center;
    color: white;
}
.pokemon-list{    
    list-style: none;
    margin: 10px auto;
    width: 100%;

    max-height: 75vh;    
    overflow-y:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.spacer{
    height: 20px;
}
.modal__name {   
    margin-top: 0;
}  
.modal__height {
    margin: 4;
    padding: 0;
}

.modal__image {
    display: block;
    margin: auto; 
    width: 50%;      
}